<div class="sidebar border rounded-3 border-0 bg-secundario" [class.open]="visible">
  <div class="sidebar-header justify-content-between align-items-center d-flex border-bottom ">
    <p class="m-0 h5">Menú de opciones</p>
    <button class="close-btn m-0 mb-1 " (click)="onClose()">×</button>
  </div>
  <div class="sidebar-options mt-2">

    <div class="opciones d-flex align-items-center w-100 p-1" (click)="goToHome()">
      <i class="bi bi-house-door-fill m-0 fs-5"></i>
      <p class="fs-5 ms-2 m-0">Home</p> <!-- hecho -->
    </div>
    <div class="opciones d-flex align-items-center w-100 p-1" (click)="goToPerfil()">
      <i class="bi bi-person-circle m-0 fs-5"></i>
      <p class="fs-5 ms-2 m-0">Mi perfil</p>
    </div>
    <div class="opciones d-flex align-items-center w-100 p-1" (click)="goToUserComs()">
      <i class="bi bi-people-fill m-0 fs-5"></i>
      <p class="fs-5 mx-2 m-0">Mis Comunidades</p>
    </div>
    <div class="opciones d-flex align-items-center w-100 p-1" (click)="goToUserPosts()">
      <i class="bi bi-file-post m-0 fs-5"></i>
      <p class="fs-5 ms-2 m-0">Mis Posts</p>
    </div>

    <div class="opciones d-flex align-items-center w-100 p-1" (click)="goToShopRewards()">
      <i class="bi bi-award-fill m-0 fs-5"></i>
      <p class="fs-5 ms-2 m-0">Shop Rewards</p>
    </div>

    <div class="opciones d-flex align-items-center w-100 p-1" (click)="goToChat()">
      <i class="bi bi-chat m-0 fs-5"></i>
      <p class="fs-5 ms-2 m-0">Chat</p>
    </div>

  </div>

  <div class="sidebar-footer w-100 mt-auto border-top" (click)="removeSession()">
    <div class="opciones d-flex align-items-center w-100 p-1 mt-1">
      <i class="bi bi-box-arrow-left m-0 fs-5"></i>
      <p class="fs-5 ms-2 m-0">Log Out</p> <!-- hecho -->
    </div>

  </div>


</div>