.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  /*app-header {
    height: 60px;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }*/

  // debajo del header
  .layout-body {
    display: flex;
    flex: 1;
    position: relative;
  }

  .sidebar-left {
    width: 22%; // un poco más que 1/5
    height: 100%;
    background-color: #e6e6e6;
    padding: 10px;
    box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.05);
  }

  .layout-content {
    width: 56%; // un poco menos que 3/5
    padding: 15px;
    overflow-y: auto;
  }

  .sidebar-right {
    width: 22%; // un poco más que 1/5
    height: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #ccc;
  }
}
