<nav class="navbar ">
    <div class="container-fluid position-sticky ">
      <a class="navbar-brand d-flex align-items-center ms-4" href="/">
        <img src="/logo.png" alt="Logo" class="logo">
        <span class="mx-3 text-white">CROWDHAVEN</span>
      </a>
  
      <form class="d-flex search-bar position-relative m-auto">
        <input class="form-control ps-5" type="search" placeholder="Search" aria-label="Search">
        <i class="bi bi-search position-absolute" style="left: 15px; top: 50%; transform: translateY(-50%); color: gray;"></i>
      </form>
      


      <div class="d-flex align-items-center">
        <!-- Mostrar botones si no hay sesión -->
        <ng-container *ngIf="!isLoggedIn; else loggedInTpl">
          <button class="btn btn-outline-light me-2" (click)="goToLogin()">Login</button>
          <button class="btn btn-outline-light me-2" (click)="goToRegister()">Register</button>
        </ng-container>
  
        <!-- Mostrar botones si hay sesión -->
        <ng-template #loggedInTpl>
          <span class="text-white me-3">Hola {{ username }}!</span>
          <button  *ngIf="!sidebarOpen" class="btn text-white me-2 fs-4" (click)="openMenu()">
            <i class="bi bi-list"></i>
          </button>
        </ng-template>
      </div>

    </div>
  </nav>

  <!-- Usar el componente sidebar solo si está abierto -->
  <app-menu-sidebar
  *ngIf="showSidebar"
  [visible]="sidebarOpen"
  (close)="closeMenu()">
</app-menu-sidebar>

  