<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="assets/logo.png" alt="Logo" class="logo">
        <span class="ms-2">CROWDHAVEN</span>
      </a>
  
      <form class="d-flex search-bar">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>


      <div class="d-flex">
        <button class="btn btn-outline-light me-2" (click)="goToLogin()">Login</button>
        <button class="btn btn-outline-light me-2" (click)="goToRegister()">Register</button>
        
        <button class="btn btn-outline-light me-2">
          <i class="bi bi-gear"></i>
        
        </button>
        <button class="btn btn-outline-light me-2">
          <i class="bi bi-question-circle"></i>
        </button>

      </div>
    </div>
  </nav>
  