.navbar {

  background-color: #1f2b3e;
  
    .logo {
      height: 40px;
    }
  
    .search-bar {
      flex: 1;
      max-width: 400px;
    }
  }
  
  .com-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; /* Por si no se carga Bootstrap */
  }

  @media (max-width: 850px) {
    .titulo {
      display: none !important;
    }
  }