<div class="w-75 m-auto my-4">
<h4 class="text-white text-center mb-3">Comunidades a las que perteneces</h4>
<div class="community-scroll-container">
<ul class="com-list m-0 w-75 m-auto">
    <li *ngFor="let community of communities" class="com-cont my-4">
      <a [routerLink]="['/user', userId, 'community', community.id]" class="com">

        <div class="d-flex gap-3">
          <div>
            <img [src]="community.img_photo" class="com-img img-fluid " (error)="community.img_photo='pperr.jpg'">
          </div>

          <div>
            <strong class="m-0 mb-0 text-white fs-5">{{ community.name }}</strong><br>
            <p class="m-0 mt-0 text-white fs-6">{{ community.members.length }} members</p>

          </div>

        </div>
      </a>
    </li>
    <div **ngIf="communities.length === 0">
      <p class="text-white text-center">No perteneces a ninguna comunidad</p>
    </div>
  </ul>
</div>
  <div class="d-flex justify-content-center my-3">
    <button class="btn btn-outline-success align-items-center justify-content-center fs-4">! Crea tu comunidad !</button>

  </div>

</div>