<div class="vista-feed">

<app-sidebar-comunidades class="sidebar-left my-3 rounded-5"></app-sidebar-comunidades>


<div class="container mt-4 feed-container d-flex flex-column align-items-center justify-content-center w-75">
  
  <div 
    class="post mb-4 p-3  rounded-5 shadow-sm " 
    *ngFor="let post of posts"
  >
    <!-- Post Header -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex justify-content-between align-items-center w-100 my-1">
        <div class="d-flex gap-1">
            <div>
                <img [src]="post.user.avatar" class="rounded-circle me-2 " width="25" height="25" (error)="post.user.avatar='err.jpg'" >
            </div>
            <div class="">
                <strong class="text-white ">{{ post.user.username }} en <a [routerLink]="['/user', user.id, 'community', post.community.id]">ch/{{ post.community.name }}</a> </strong>
            </div>
        </div>
      <small class="text-white m-0 align-self-end">  {{ post.createdAt | date: 'dd/MM/yyyy' }}</small>
    </div>
    </div>

    <h4 class="mb-2 text-white">{{ post.title }}</h4>
    <img *ngIf="post.image" [src]="post.image" class="w-100 post-img img-fluid rounded m-auto mb-2"  />
    <p class="text-white ">{{ post.content }}</p>

    <div class="d-flex justify-content-between align-items-center mt-3 w-100">
      <!-- Botones de Like y Dislike a la izquierda -->
      <div>
        <button class="btn btn-outline-success btn-sm me-2" (click)="likePost(post.id)">
          <i class="bi bi-hand-thumbs-up-fill fs-6 m-0"></i> {{ post.like_count }}
        </button>
        <button class="btn btn-outline-danger btn-sm me-2" (click)="dislikePost(post.id)">
          <i class="bi bi-hand-thumbs-down-fill fs-6 m-0"></i> {{ post.dislike_count }}
        </button>
      </div>
    
      <!-- Botón de comentarios alineado a la derecha -->
      <div class="ms-auto">
        <button class="btn btn-outline-secondary btn-sm m-0" (click)="commentOnPost(post.id)">
          <i class="bi bi-chat-left-text-fill fs-6 m-0 me-2 mt-1"></i>({{ post.comments.length }})
        </button>
      </div>
    </div>
    
  </div>

  <div *ngIf="posts.length === 0" class="text-center text-muted">
    No hay publicaciones aún.
  </div>
</div>

</div>