
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #de283b;
$secondary: #ff6366;
/*$tertiary: pink;*/
$blue: #0f42cf;
$rojovino: #ad0043;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "warning": $warning,
  "danger": $danger,
  "white": $white,
  "success": $success,
  "blue" : $blue,
  "rojovino": $rojovino,
  /*"tertiary": $tertiary,*/
);
