<div class="sidebar-container bg-secundario">
  <h5 class="text-white text-center p-2 border-bottom">Popular Communities</h5>
  <ul class="com-list m-0">
    <li *ngFor="let community of communities" class="com-cont my-3">
      <a [routerLink]="['/user', user.id, 'community', community.id]" class="com">

        <div class="d-flex gap-3">
          <div>
            <img [src]="community.img_photo" class="com-img img-fluid " (error)="community.img_photo='pperr.jpg'">
          </div>

          <div>
            <strong class="m-0 mb-0 text-white">{{ community.name }}</strong><br>
            <p class="m-0 mt-0 text-white">{{ community.members.length }} members</p>

          </div>

        </div>
      </a>
    </li>
  </ul>
</div>